.sidebarRows{
    display: flex;
    align-items: center;
    padding:10px 20px;
}
.sidebarRows_icons{
 font-size: large !important;
 color: #606060;
}

.sidebarRows_title{
    font-size: 12px;
    flex: 1;
    margin-left: 15px;
    font-weight: 500;
}

.sidebarRows:hover{
    cursor: pointer;
    background-color: lightgray;
}
.sidebarRows:hover > .sidebarRows_icons{
    color: red;
}
.sidebarRows:hover > .sidebarRows_title{
   font-weight: bold;
}
.sidebarRows.selected{
    background-color: lightgray;
}
.sidebarRows.selected > .sidebarRows_icons{
    color: red;
}
.sidebarRows.selected > .sidebarRows_title{
    font-weight: bold;
}

