.videoCard{
margin-bottom: 25px;
width: 270px;
}

.videoCard_Thumbnail{
height: 140px;
width: 250px;
}
.videoCard_Info{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;

}

.videoCard_Text{
    margin-left: 15px;
}

.videoCard_Text > h4{
    font-size: 14px;
    margin-bottom: 5px;
}
.videoCard_Text > p{
    color: gray;
    font-size: 14px;
}

.videoCard_Avatar{
    height: 30px !important;
    width: 30px !important;

}